[submodule "on_control_system_architectures"]
	path = on_control_system_architectures
	url = git@github.com:arsenier/on_control_system_architectures.git
[submodule "PobeditelRTK"]
	path = PobeditelRTK
	url = git@github.com:arsenier/PobeditelRTK.git
[submodule "dc_motor_masterclass"]
	path = dc_motor_masterclass
	url = git@github.com:arsenier/dc_motor_masterclass.git
[submodule "robot_firmware/tauriel-asmr"]
	path = robot_firmware/tauriel-asmr
	url = git@github.com:arsenier/tauriel-asmr.git
